<mat-card>
    <mat-card-title>Restablecer Contraseña</mat-card-title>
    <mat-card-content>

        <div class="displayTable m-2">
            <div class="displayTableCell">
                <div class="authBlock">

                    <p class="text-center">
                        Ingrese su correo electrónico para solicitar 
                        el restablecimiento de su contraseña.
                    </p>

                    <div class="formGroup ifield">
                        <input type="email" class="formControl" placeholder="Correo electrónico" #passwordResetEmail
                            required>
                    </div>

                    <!-- Calling ForgotPassword from AuthService Api -->
                    <div class="formGroup text-right m-2">
                        <input type="submit" class="btn cyan darken-2" value="Restablecer contraseña"
                            (click)="authService.ForgotPassword(passwordResetEmail.value)">
                    </div>
                </div>

                <div class="redirectToLogin">
                    <span>¿Regresar atrás? <span class="redirect" routerLink="/login">Acceder</span></span>
                </div>

            </div>
        </div>

    </mat-card-content>
</mat-card>